* {
  box-sizing: border-box;
}

.errorMsg {
  position: absolute;
  margin-top: 7px;
  color: red;
  text-align: left;
  margin-left: 55px;
  font-size: 11px;
}

.form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  width: 500px;
  height: 370px;
}

.email_input {
  margin-top: 35px;
}
.email {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #e2e2e2 1px solid;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  padding-left: 15px;
}

.password_input {
  position: relative;
  margin-top: 30px;
}
.password {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #e2e2e2 1px solid;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  padding-left: 15px;
}

.eye_icon_container {
  position: absolute;
  right: 65px;
  bottom: 7px;
}

.eye_icon {
  opacity: 50%;

  width: 20px;
  height: 20px;
}

.sbmtBtn {
  margin-top: 45px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(97, 44, 117);
  color: white;
  font-weight: bold;
}

.sbmtBtn:hover {
  background-color: rgb(166, 39, 212);
}

.sbmtBtn:active {
  background-color: rgb(187, 0, 255);
}

.sbmtBtn:disabled {
  background-color: rgb(140, 140, 140);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
